@use "abstracts" as *;
$color-footer-background: #fefaf5;

.footer {
  background-color: $color-footer-background;
  padding: 3rem 10% 2rem 10%;
  @include flex-on-spacing(row, center);

  &__item {
    margin: 0 2rem;
  }
  h3 {
    margin-top: 0;
    color: $color-h3-and-button-bg;
  }

  .hours {
    position: relative;
    top: 0;
    &__details {
      display: flex;
      &--group:nth-child(2) {
        padding: 0 1.5rem;
      }
    }
  }

  .social {
    &__icon-ctn img {
      height: 30px;
      @include add-scale-animation;
    }
    &__icon-ctn a:nth-child(2) img {
      margin: 0 1rem;
    }
  }

  @include tablet-media-query {
    padding: 2rem 0;
    &__item {
      margin: 0 1rem;
    }
  }
}
