@use "abstracts" as *;
@use "animation" as *;
$color-hero-background: #fefaf5;

.hero {
  background-color: $color-hero-background;
  @include flex-on-spacing(row, space-between);
  // set-standard-padding has default left-right value of 5 rem
  @include set-standard-padding(4rem);
  // @media (min-width: 600px) and (max-width: 900px) {
  //   @include set-standard-padding(2rem, 2rem);
  // }
  @include tablet-media-query {
    @include set-standard-padding(4rem, 2rem);
  }
  &__text {
    width: 45%;
    .recommendations__heading,
    h1 {
      font-size: 2rem;
    }
  }
  &__image,
  img {
    height: 40vh;
    &:hover {
      animation: tilt-shaking 1.5s linear infinite;
    }
    @include tablet-media-query {
      height: 30vh;
    }
  }

  button {
    border-radius: 20px;
    background-color: $color-h3-and-button-bg;
    color: white;
    padding: 0.5rem 2.5rem;
    border: none;
  }
}
