@use "abstracts" as *;

$color-nav-bar: #ffffff;
$color-word-mark: #335576;

.body-header {
  position: sticky;
  top: 0;
}
.nav-bar {
  background-color: $color-nav-bar;
  &__heading,
  a {
    text-decoration: none;
    @include add-scale-animation;
  }
  @include flex-on-spacing(row, space-between);
  @include set-standard-padding;
  &__nav-elements {
    @include flex-on-spacing(row, center);
    li {
      list-style-type: none;
      align-self: center;
    }
    &--item {
      margin-left: 1rem;
      text-decoration: none;
      &--active,
      a {
        padding: auto 0;
        margin-left: 1rem;
        text-decoration: none;
        border-bottom: solid 2px $color-h3-and-button-bg;
      }
    }
  }
}
