body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #335576;
}

.nav-bar {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 5rem;
}
.nav-bar__heading,
.nav-bar a {
  text-decoration: none;
}
.nav-bar__nav-elements {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav-bar__nav-elements--item {
  margin-left: 1rem;
  text-decoration: none;
}
.nav-bar__nav-elements--item--active,
.nav-bar__nav-elements--item a {
  margin-left: 1rem;
  text-decoration: none;
  border-bottom: solid 2px #db7a4e;
}

.footer {
  background-color: #fefaf5;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer h3 {
  margin-top: 0;
}
.footer .hours {
  position: relative;
  top: 0;
}
.footer .hours__details {
  display: flex;
}
.footer .hours__details--group:nth-child(2) {
  padding: 0 1.5rem;
}
.footer .social__icon-ctn a:nth-child(2) img {
  margin: 0 1rem;
}

.recommendations {
  padding: 0 5rem;
  margin: 1rem 0 4rem 0;
}
.recommendations__destinations {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.recommendations__destinations .recommendations__destinations--hawaii {
  margin: 0 1rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  justify-content: end;
  position: relative;
}
.recommendations__destinations .recommendations__destinations--hawaii p {
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}
.recommendations__destinations .recommendations__destinations--hawaii img {
  height: 40vh;
}
.recommendations__destinations .recommendations__destinations--greece {
  margin: 0 1rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  justify-content: end;
  position: relative;
}
.recommendations__destinations .recommendations__destinations--greece p {
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}
.recommendations__destinations .recommendations__destinations--greece img {
  height: 40vh;
}
.recommendations__destinations .recommendations__destinations--iceland {
  margin: 0 1rem;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  justify-content: end;
  position: relative;
}
.recommendations__destinations .recommendations__destinations--iceland p {
  font-size: large;
  font-weight: bold;
  color: white;
  margin: 0;
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}
.recommendations__destinations .recommendations__destinations--iceland img {
  height: 40vh;
}

.hero {
  background-color: #fefaf5;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 4rem 5rem;
}
.hero__text {
  width: 45%;
}
.hero__text .recommendations__heading,
.hero__text h1 {
  font-size: 2rem;
}
.hero__image,
.hero img {
  height: 40vh;
}
.hero button {
  border-radius: 20px;
  background-color: #db7a4e;
  color: white;
  padding: 0.5rem 2.5rem;
  border: none;
}

.destination-packages.hawaii {
  background-image: url("../assets/images/hawaii.jpg");
  background-size: cover;
  background-position: center;
}

.destination-packages.greece {
  background-image: url("../assets/images/greece.jpg");
  background-size: cover;
  background-position: center;
}

.destination-packages.iceland {
  background-image: url("../assets/images/iceland.jpg");
  background-size: cover;
  background-position: center;
}

.destination-packages {
  height: 70vh;
  color: black;
  margin: 1rem 0 3rem 0;
}
.destination-packages__heading {
  font-size: 3.5rem;
  color: white;
  padding: 4rem 5rem;
  margin: 0;
}
.destination-packages__content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-weight: 450;
}
.destination-packages__content p {
  padding: 0.8rem;
}
.destination-packages .destination-packages__content--day {
  padding: 1rem;
  width: 20%;
  height: fit-content;
  background-color: white;
  margin: 0 1rem;
  border-radius: 5px;
}
.destination-packages .destination-packages__content--day--heading {
  border-bottom: solid 2px black;
}
.destination-packages .destination-packages__content--day--activity {
  background-color: #fefaf5;
}